.course {

    &__link:link,
    &__link:visited {
        text-decoration: none;
        font-size: 3rem;
    }

    &__photo {

        &>img {
            width: 6rem;
            height: 6rem;
        }

    }
}