.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem;

    &>* {
        margin-left: 10rem;
    }

    @media only screen and (max-width: $bp-large) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.nav {
    flex: 0 0 70%;
    width: 100%;
}


.main {
    display: flex;
}