////////////////////////////////////////
// MENU


.menu {
    display: flex;
    list-style: none;
    align-items: center;
    position: relative;

    @media only screen and (max-width: $bp-large) {
        margin-top: 2rem;
        flex-direction: column;
        align-items: flex-start;
    }

    &__item {
        flex: 0 0 20%;
        display: flex;

        @media only screen and (max-width: $bp-large) {
            background-color: var(--primary);
            color: #fff;
            border-bottom: 0.5px solid var(--light);
            width: 80%;
        }

        &:hover .menu__button {
            transform: rotate(180deg);
        }

        &:hover .submenu {
            opacity: 1;
        }

    }

    &__link:link,
    &__link:visited {
        color: var(--color-grey-light-1);
        text-decoration: none;
        display: block;
        padding: 1.5rem;
        font-size: 2rem;

    }

    &__item:hover {
        color: var(--primary);

        @media only screen and (max-width: $bp-large) {
            color: #fff;
        }
    }

    &__button {
        background-color: transparent;
        border: none;
        color: inherit;
        transition: all 0.2s;

        @media only screen and (max-width: $bp-large) {
            display: none;
        }
    }
}

.submenu {
    list-style: none;
    background-color: var(--teal);
    position: absolute;
    top: calc(100% + 2rem);
    min-width: 15rem;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;

    @media only screen and (max-width: $bp-large) {
        display: none;
    }

    &::before {
        content: "";
        position: absolute;
        display: block;
        left: 50%;
        top: -0.5rem;
        background-color: var(--teal);
        width: 1rem;
        height: 1rem;
        transform: translateX(-50%) rotate(45deg);
    }

    &__link:link,
    &__link:visited {
        color: #fff;
        text-decoration: none;
        display: block;
        padding: 1.5rem;
        font-size: 2rem;
    }
}